geonames/src/doc/geonames.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="geonames">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="geoname">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="lat" type="xs:decimal" />
              <xs:element name="lng" type="xs:decimal" />
              <xs:element name="geonameId" type="xs:unsignedInt" />
              <xs:element name="countryCode" type="xs:string" />
              <xs:element name="countryName" type="xs:string" />
              <xs:element name="fcl" type="xs:string" />
              <xs:element name="fcode" type="xs:string" />
              <xs:element name="distance" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>