earthtools/src/main/doc/height.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="version" type="xs:string"/>
  <xs:element name="location">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="latitude" type="xs:string"/>
        <xs:element name="longitude" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="meters" type="xs:string"/>
  <xs:element name="feet" type="xs:string"/>
</xs:schema>